body{
  animation: fadeIn 1s ease-in-out;

  background-image: url('/Users/suyi/FirstMediocreAttemptAtFrondEnd/images_things/k.jpg');
  background-size: cover;                
  background-position: center;          
  background-repeat: no-repeat;         
  background-attachment: fixed;         
  min-height: 100vh;  
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

a{
  text-decoration: none;
}

a:active{
  color: black;
}

*{
  cursor: url("/Users/suyi/FirstMediocreAttemptAtFrondEnd/images_things/maple_cursor.png"), auto;
}

.parent_grid{
  position : absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  left: 50%;
  top: 45%;

  width: 1500px;
  height: 146px;

  margin-left : -750px;
  margin-top  : -73px;


}

.about_title{
  flex: 1;

  font-size: 69px;
  font-family: monospace;
  color: rgb(24, 22, 20);

  font-family: 'Arial Black', sans-serif;
  font-style: italic;

  -webkit-text-stroke: 1px white;

  letter-spacing: -5px;

  margin-bottom: 15px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;

  align-self: flex-start;
}

.wtv{
  flex: 2;
  width: 100%;
}

.contact_link{
  display: inline-flex;

  align-items: center; 
  justify-content: center;

  font-size: 25px;
  font-family: monospace;
  font-weight: bold;
  color: black;

  background-color: #ddd;
  width: 230px;
  height: 230px;

  border-radius: 230px;
  border-style: solid;

  border-color: black;
  border-width: 8px;

  margin-right: 23px;
  margin-left: 0px;

  box-shadow: 0 0 55px rgb(255, 184, 20);
  transition: box-shadow 0.35s;
}

.contact_link:hover{
  box-shadow: 0 0 73px rgb(0, 0, 0);
  border-color: black;
  background-color: rgb(255, 187, 0);
}


.continue_button{
  display: flex;

  align-items: center; 
  justify-content: center;

  font-size: 18px;
  font-family: monospace;

  background-color: rgb(255, 234, 206);
  color: black;

  width: 445px;
  height: 100%;

  border-radius: 15px;
  border-style: solid;
  border-color: rgb(0, 223, 7);
  border-width: 2.3px;

  transition: box-shadow 0.35s;

  padding: 15px 90px;

  margin-top: 50px;
}

.continue_button:hover{
  box-shadow: 0 0 73px rgb(0, 240, 8);
}

.back_button{
  text-decoration: none;
  background-color: rgb(180, 0, 0);
  color: white;
  font-family: monospace;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 10px;
  border: 2px black;
  border-style: solid;

  position:fixed;
  left:0;
  bottom:0;

  margin-left: 13px;
  margin-bottom: 13px;

  box-shadow: 5px 5px black;
}

.back_button:hover{
  background-color: rgb(255, 0, 0);
}


