body{
  animation: fadeIn 1s ease-in-out;

  background-image: url('../images_things/q.jpg');
  background-size: cover;               
  background-position: center;           
  background-repeat: no-repeat;          
  background-attachment: fixed;          
  min-height: 100vh;  
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes spin {
  0% {}
  100% {transform: rotate(720deg);}
}

@keyframes slide_in_left {
  0% {transform: translateX(-300px);}
  100% {transform: translateX(-0px);}
}

a{
  text-decoration: none;
}

a:active{
  color: black;
}

*{
  cursor: url("../images_things/maple_cursor.png"), auto;
}

.button_wrapper{
  position: relative;
}

.parent_flex{
  position : absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  left: 50%;
  top: 50%;

  width: 1380px;
  height: 170px;

  margin-left : -690px;
  margin-top  : -85px;
}

.welcome_text{
  flex: 1;

  font-size: 76px;
  color: rgb(24, 22, 20);
  font-family: 'Arial Black', sans-serif;
  font-style: italic;

  margin-bottom: 0px;
  margin-top: 0px;

  -webkit-text-stroke: 1px white;

  letter-spacing: -5px;

  animation-name: slide_in_left;
  animation-duration: 2s;
}

.continue_button{
  flex: 2;
  font-size: 20px;
  font-family: monospace;

  background-color: rgb(255, 187, 0);
  color: black;

  width: 500px;
  height: 100%;

  border-radius: 15px;
  border-style: solid;
  border-color: black;
  border-width: 2.3px;

  box-shadow: 10px 10px rgb(0, 0, 0);

  transition: box-shadow 0.35s;

  padding: 18px 90px;
}

.continue_button:hover{
  box-shadow: 0 0 73px black;
}

.exit_button{
  float: right;
  font-size: 20px;
  font-family: monospace;

  background-color: rgb(193, 0, 0);
  color: white;

  border-radius: 20px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 2px;

  transition: box-shadow 0.35s;
  margin-left: 15px;
}

.exit_button:hover{
  box-shadow: 0 0 35px rgb(238, 0, 0);

  animation-duration: 5s;
  animation-name: spin;
}

.exit_button:active{
  cursor: not-allowed;
}

