body{
  background-color: rgb(62, 0, 135);
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes spin {
  0% {}
  100% {transform: rotate(720deg);}
}

@keyframes slide_in_left {
  0% {transform: translateX(-300px);}
  100% {transform: translateX(-0px);}
}

a{
  text-decoration: none;
}

a:active{
  color: black;
}

*{
  cursor: url("/Users/suyi/FirstMediocreAttemptAtFrondEnd/images_things/maple_cursor.png"), auto;
}

.button_wrapper{
  position: relative;
}

.parent_flex{
  position : absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  left: 50%;
  top: 50%;

  width: 1200px;
  height: 160px;

  margin-left : -600px;
  margin-top  : -80px;
}

.welcome_text{
  flex: 1;
  font-size: 65px;
  color: rgb(255, 222, 176);
  margin-bottom: 0px;
  margin-top: 0px;

  animation-name: slide_in_left;
  animation-duration: 2.4s;
}

.continue_button{
  flex: 2;
  font-size: 18px;
  font-family: monospace;

  background-color: rgb(255, 234, 206);
  color: black;

  width: 500px;
  height: 100%;

  border-radius: 15px;
  border-style: solid;
  border-color: rgb(0, 223, 7);
  border-width: 2.3px;

  transition: box-shadow 0.35s;

  padding: 15px 90px;
}

.continue_button:hover{
  box-shadow: 0 0 73px rgb(0, 240, 8);
}

.exit_button{
  float: right;
  font-size: 20px;
  font-family: monospace;

  background-color: rgb(193, 0, 0);
  color: white;

  border-radius: 20px;
  border-style: solid;
  border-color: rgb(193, 0, 0);
  border-width: 1.8px;

  transition: box-shadow 0.35s;
  margin-left: 5px;
}

.exit_button:hover{
  box-shadow: 0 0 35px rgb(238, 0, 0);

  animation-duration: 5s;
  animation-name: spin;
}

#spongebob_crying_popup{
  position: fixed;              
  top: 73%;
  left: 21%;
  transform: translate(-50%, -50%);
            
  width: 500px;
  max-width: 90%;
  border-style: solid;
  border-color: rgb(255, 234, 206);

  opacity: 0;

  transition: opacity 1s ease;
  pointer-events: none;
  z-index: 1000;
}

#spongebob_crying_popup.show{
  opacity: 1;
}
