body{
  background-color: rgb(62, 0, 135);
}

.button_wrapper{
  position: relative;
  width: 480px;
}

.parent_flex{
  position : absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  left: 50%;
  top: 50%;

  width: 1200px;
  height: 146px;

  margin-left : -600px;
  margin-top  : -73px;
}

.welcome_text{
  flex: 1;
  font-size: 65px;
  color: rgb(255, 222, 176);
  margin-bottom: 0px;
  margin-top: 0px;
}

.continue_button{
  flex: 2;
  font-size: 18px;
  font-family: monospace;

  background-color: rgb(255, 234, 206);

  width: 100%;
  height: 100%;

  cursor: pointer;

  border-radius: 15px;
  border-style: solid;
  border-color: rgb(0, 223, 7);
  border-width: 2.3px;

  transition: box-shadow 0.35s;
}

.continue_button:hover{
  box-shadow: 0 0 73px rgb(0, 240, 8);
}

.continue_button:active{
  cursor: grabbing;
}

.exit_button{
  float: right;
  font-size: 20px;
  font-family: monospace;

  background-color: rgb(193, 0, 0);
  color: white;

  border-radius: 20px;
  border-style: solid;
  border-color: rgb(193, 0, 0);
  border-width: 1.8px;

  transition: box-shadow 0.35s;

  cursor: pointer;
}

.exit_button:hover{
  box-shadow: 0 0 35px rgb(238, 0, 0);
}

.exit_button:active{
  cursor: not-allowed;
}

#spongebob_crying_popup{
  position: fixed;              
  top: 50%;
  left: 39%;
  transform: translate(-50%, -50%);
            
  width: 700px;
  max-width: 90%;
  border-style: solid;
  border-color: rgb(255, 234, 206);

  opacity: 0;

  transition: opacity 1.1s ease;
  pointer-events: none;
  z-index: 1000;
}

#spongebob_crying_popup.show{
  opacity: 1;
}
