body{
  background-color: rgb(62, 0, 135);
}

*{
  cursor: url("/Users/suyi/FirstMediocreAttemptAtFrondEnd/images_things/maple_cursor.png"), auto;
}

.middle_grid{
  position : absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  left: 50%;
  top: 50%;

  width: 1500px;
  height: 146px;

  margin-left : -750px;
  margin-top  : -73px;
}

.middle_info{
  font-family: monospace;
  font-size: 29px;

  color: rgb(255, 222, 176);
  margin-top: 0px;
  margin-bottom: 0px;
}
