body{
  background-color: rgb(62, 0, 135);
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

*{
  cursor: url("/Users/suyi/FirstMediocreAttemptAtFrondEnd/images_things/maple_cursor.png"), auto;
}

.middle_grid{
  position : absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  left: 50%;
  top: 50%;

  width: 1500px;
  height: 146px;

  margin-left : -750px;
  margin-top  : -73px;
}

.middle_info{
  font-family: monospace;
  font-size: 29px;

  color: rgb(255, 222, 176);
  margin-top: 0px;
  margin-bottom: 0px;

  z-index: 10;
}

.yolo_planet{
  position: absolute;

  background: none;
  border: none;

  margin-top: 59px;
  margin-left: 201px;

  z-index: 5;
}

.yolo_planet img{
  width: 380px;
}

.yolo_planet:hover{
  filter:drop-shadow(0 0 35px rgb(255, 161, 94));
}

.ml_planet{
  position: absolute;

  background: none;
  border: none;

  margin-top: 435px;
  margin-left: 980px;

  z-index: 5;
}

.ml_planet img{
  width: 368px;
}

.ml_planet:hover{
  filter:drop-shadow(0 0 58px rgb(149, 220, 255));
}

.sea_planet{
  position: absolute;

  background: none;
  border: none;

  margin-top: 500px;
  margin-left: 255px;

  z-index: 5;
}

.sea_planet img{
  width: 301px;
}

.sea_planet:hover{
  filter:drop-shadow(0 0 58px rgb(255, 124, 235));
}

.port_planet{
  position: absolute;

  background: none;
  border: none;

  margin-top: 2px;
  margin-left: 520px;

  z-index: 5;
}

.port_planet img{
  width: 240px;
}

.port_planet:hover{
  filter:drop-shadow(0 0 58px rgb(34, 255, 0));
}

.trail{
  position: absolute;

  width: 1410px;
  height: 630px;

  margin-left : -750px;
  margin-top  : -315px;

  animation: fadeIn 3.5s ease-in-out;

  flex-shrink: 0;
}

.star{
  position: absolute;

  background: none;
  border: none;

  margin-top: 55px;
  margin-left: 980px;

  animation: fadeIn 3s ease-in-out;
}

.star img{
  width: 500px;

  animation: fadeIn 3s ease-in-out;
  filter:drop-shadow(0 0 40px rgb(255, 241, 42));
}

.star:hover{
  filter:drop-shadow(0 0 35px rgb(255, 252, 208));
}

.modal{
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  border-style: solid;
  border-color: black;
  border-radius: 10px;

  background-color: rgb(255, 243, 247);
  z-index: 10;

  width: 1200px;
  max-width: 80%;

  transition: 500ms ease-in-out
}

.modal.active{
  transform: translate(-50%, -50%) scale(1);
}

.modal_header{
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
}

.modal_header .title{
  font-size: 57px;
  font-family: monospace;
  font-weight: bolder;
}

.modal_header .close_button{
  font-size: 34px;
  background-color: rgb(193, 0, 0);
  color: white;

  padding-left: 10px;
  padding-right: 10px;

  border-radius: 34px;
  border-style: solid;
  border-color: rgb(193, 0, 0);
  border-width: 1.8px;

  transition: box-shadow 0.35s;
}

.modal_header .close_button:hover{
  box-shadow: 0 0 35px rgb(238, 0, 0);
}

.modal_body{
  font-size: 25px;
  padding: 10px 15px;
  font-family: monospace;
  display: flex;
  flex-direction: column;

  margin-top: 3px;
  gap: 26px;

  line-height: 1.3;
  text-align: justify;
  align-items: center;
}

.view_things{
  font-size: 25px;
  margin-bottom: 18px;

  font-family: monospace;
  background-color: rgb(244, 255, 213);
  color: black;

  border-radius: 16px;
  border-style: solid;
  border-color: rgb(0, 223, 7);
  border-width: 2.3px;

  transition: box-shadow 0.35s;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 558px;
}

.view_things:hover{
  box-shadow: 0 0 73px rgb(0, 240, 8);
}

#overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
  z-index: 8;
}

.contact{
  position: absolute;
  font-family: monospace;
  color: rgb(255, 222, 176);
  font-size: 18px;
  text-align: center;

  margin-top: 280px;
  margin-left: 1179px;

  animation: fadeIn 4s ease-in-out;

  z-index: 6;
}

.yolo_title{
  position: absolute;
  font-family: monospace;
  color: rgb(255, 222, 176);
  font-size: 18px;
  text-align: center;

  margin-top: 240px;
  margin-left: 247px;
}

.sea_title{
  position: absolute;
  font-family: monospace;
  color: rgb(255, 222, 176);
  font-size: 18px;
  text-align: center;

  margin-top: 648px;
  margin-left: 382px;

  z-index: 6;
}

.ml_title{
  position: absolute;
  font-family: monospace;
  color: rgb(255, 222, 176);
  font-size: 18px;
  text-align: center;

  margin-top: 600px;
  margin-left: 1072px;

  z-index: 6;
}

.port_title{
  position: absolute;
  font-family: monospace;
  color: rgb(255, 222, 176);
  font-size: 18px;
  text-align: center;

  margin-top: 126px;
  margin-left: 590px;

  z-index: 6;
}
